<div id="dropdown-content">
  <span id="current-version" data-version="<%= current_version %>"></span>
  <div x-show="open" x-cloak
       x-transition:enter="transition ease-out duration-100"
       x-transition:enter-start="transform opacity-0 scale-95"
       x-transition:enter-end="transform opacity-100 scale-100"
       x-transition:leave="transition ease-in duration-75"
       x-transition:leave-start="transform opacity-100 scale-100"
       x-transition:leave-end="transform opacity-0 scale-95"
       class="absolute right-0 z-40 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="px-4 py-3" role="none">
      <p class="text-sm font-bold" role="none">Revert to:</p>
    </div>
    <div class="py-1" role="none">
      <% versions.reverse.each_with_index do |version, index| %>
        <a href="/revert?v=<%= version %>" class="hover:text-black hover:bg-gray-100 block px-4 py-2 text-sm text-gray-600" role="menuitem" tabindex="-1" id="menu-item-<%= index %>">Version #<%= version %></a>
      <% end %>
    </div>
  </div>
</div>
